/* App background */
.stApp {
    background-image: linear-gradient(to bottom right,#db2f23 0%,#624be2,25%, #127821 50%,#139177,75%, #e01919 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(210, 200, 200);
    background-size: cover;
}

/* Card styling */
.card {
    background-color: #35c2b6;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    color: rgb(16, 6, 6);
    margin-top: 16px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius:60px ;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* Headings */
h1, h2, h3 {
    color: #0f172a;
}

/* Metric container (Streamlit default) */
div[data-testid="metric-container"] {
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Prediction output box */
.prediction_box {
    background-image: linear-gradient(#dcfce7, #bbf7d0);
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #14532d;
    margin-top: 15px;
}
